<!DOCTYPE html>
<head>
    <title>Vmail</title>
        <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
        <script defer src="https://pyscript.net/latest/pyscript.js"></script>  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <form name = "admin" action = "{{ url_for('email') }}" method = 'post'>
        Send to <input type = "text" name = "reciever">
        <br><br>
        Subject <input type = "text" name = "subject">
        <br><br>
        Message <input type = "text" name = "message">
        <center>   <input type="submit" value = 'send' class="btn btn-primary btn-lg"></center>
                
            </form>
        <br>
            <a href="{{ url_for('SendMail') }}">Send mails</a>
        <br>
        <a href="{{ url_for('RecievedMail') }}">Recieved mails</a>
       
</body>
</html>