<!DOCTYPE html>
<html>
<head>
   <title>Speech to Text</title>
</head>
<body>
   <div style="display: flex; justify-content: space-between; width: 13rem; box-shadow: 0 0 13px #0000003d; border-radius: 5px;">
      <button onclick="runSpeechRecog('subject')" style="border: transparent; padding: 0.5rem;">Speech for Subject</button>
      <button onclick="runSpeechRecog('message')" style="border: transparent; padding: 0.5rem;">Speech for Message</button>
   </div>
   <form name="admin" action="{{ url_for('email') }}" method="post">
      <br><br>
      Send to <input type="text" name="reciever">
      <br><br>
      Subject <input type="text" name="subject" id="subject">
      <br><br>
      Message <input type="text" name="message" id="message">
      <center><input type="submit" value='send' class="btn btn-primary btn-lg"></center>
   </form>
   <br>
            <a href="{{ url_for('SendMail') }}">Send mails</a>
        <br>
        <a href="{{ url_for('RecievedMail') }}">Recieved mails</a>

   <h3 id="output" class="hide"></h3>
   <script>
      var currentSubject = "";
      var currentMessage = "";

      runSpeechRecog = (field) => {
         document.getElementById("output").innerHTML = "Listening...";
         var output = document.getElementById('output');
         var textInput = document.getElementById(field);
         let recognition = new webkitSpeechRecognition();
         recognition.onstart = () => {
            output.innerHTML = "Listening...";
         }
         recognition.onresult = (e) => {
            var transcript = e.results[0][0].transcript;
            output.innerHTML = transcript;
            if (field === 'subject') {
               currentSubject = transcript;
               textInput.value = currentSubject;
            } else if (field === 'message') {
               currentMessage = transcript;
               textInput.value = currentMessage;
            }
         }
         recognition.start();
      }
   </script>
</body>
</html>